<header>
    <nav>
        <a href="/">Libro</a>
        <ul>
            <li><a href="/authors"></a>Authors</li>
            <li><a href="/authors/new"></a>Add Author</li>
        </ul>
    </nav>
</header>