<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nodexpressmongodb</title>
</head>
<body>
    <!-- the code that goes inside the application before and after every single page -->
    Before
    <br>
    <!-- the content of everything inside the application -->
    <!-- the body includes every single one of the pages -->
    <%- body %>
    <br>
    After    
</body>
</html>